#parent {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
 }
 
 #form_login {
     display:table;
     margin:auto;
     background-color: #ffffff;
 }
 
 @media (min-width: 600px) 
 {
     #form_login
    {
     width: 450px;
    }
 }