<aside>

    <ul id="slide-out" class="side-nav fixed">

        <li class="user-view">
           <div class="background">
                <img src="{{ fullImagePath }}">
            </div> 
            <div class="row">
                <div class="col s4"><img src="{{ user }}" alt="" class="circle responsive-img"></div>
                <div class="col s8">
                    <a id="nome-user" class="white-text texto-sombra waves-effect waves-light dropdown-button" data-activates="profile-dropdown"
                        data-beloworigin="true">Regis</a>
                    <a id="nome-user" class="white-text email texto-sombra">Administrador</a>
                </div>
            </div>
        </li>

        
        <div>
        
        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a class="waves-effect waves-cyan" [routerLink]="['/adm']"><i class="material-icons">dashboard</i> Dashboard</a>
            </li>    
            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">account_circle</i> Pessoas</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a  [routerLink]="['clientes']">Clientes</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        </div>
    </ul>

</aside>

<ul id="profile-dropdown" class="dropdown-content ">
        <li><a href="#"><i class="material-icons">face</i> Perfil</a>
        </li>
        <li><a href="#"><i class="material-icons">settings</i> Config.</a>
        </li>
        <li><a href="#"><i class="material-icons">live_help</i> Ajuda</a>
        </li>
        <li class="divider"></li>
        <li><a href="#"><i class="material-icons">keyboard_tab</i> Logout</a>
        </li>
</ul>